/* nav css */
.navbar{
    color:black !important;
    background: #FFFFBF !important;
  }
  .nav-link:hover{
    background-color: #FFB1B0 !important;
  }
  /* carousel css */
  .carouselslide{
    background-color: #FFDFBE;
  }
  .d-block {
      width: 50%;
      align-items:flex-start;
    }
  .carousel-inner{
      width:50%;
      max-height: 400px !important;
      margin:auto;
    }
  .btn{
      background-color: white
    }
  .btn:hover{
    background-color: #CBC3E3
  }
    .jumbotron{
    background-color:#BFF0A7
  }
  .footer{
    background-color: #A9D1F7;
    text-align:center;
    color:white;
  }
  .footer-copyright{
    background-color: #CBC3E3
  }