/* nav css */
.navbar{
  color:black !important;
  background: #FFDFBE !important;
}
.nav-link:hover{
  background-color: #FFB1B0 !important;
  color:black
}
.button{
  background-color: white !important;
}
.button:hover{
  background-color:#FFB1B0 !important;
}
.card button{
 background-color:green
}

.btn{
  background-color: white
  }
.btn:hover{
  background-color: #CBC3E3
}
/* Footer */
.footer{
  background-color: #A9D1F7;
  text-align:center;
  color:white;
}
.footer-copyright{
  background-color: #CBC3E3
}
/* body */
body{
  font-family: "a abstract groovy", 'Times New Roman', Times, serif;
  background-color:white;
  padding-top:70px
}
.container-fluid{
  background-image:url(../Images/otherrainbow.png);
  background-position:center;
  background-repeat:no-repeat;
  width:100%;
}
i:hover{
  color:#CBC3E3
}
