/* nav css */
.navbar{
    color:black !important;
    background: #FFDFBE !important;
  }
  .nav-link:hover{
    background-color: #FFB1B0 !important;
    color:black
  }
  .button{
    background-color: white !important;
  }
  .button:hover{
    background-color:#FFB1B0 !important;
  }
  .btn{
    background-color: white
    }
  .btn:hover{
    background-color: #CBC3E3
  }
  /* Footer */
  .footer{
    background-color: #A9D1F7;
    text-align:center;
    color:white;
  }
  .footer-copyright{
    background-color: #CBC3E3
  }
  /* accordion */
.accordion-button1{
    background-color:#FFB1B0;
}
.accordion-button2{
    background-color:#FFDFBE;
}
.accordion-button3{
    background-color:#FFFFBF
}
.accordion-button4{
    background-color:#BFF0A7
}
.accordion-button5{
    background-color:#A9D1F7;
}
.accordion-button6{
    background-color:#CBC3E3
}
  /* body */
  body{
    font-family: "a abstract groovy", 'Times New Roman', Times, serif;
    background-color:white;
    padding-top:70px
  }
  .accordion{
    background-image:url(../Images/otherrainbow.png);
    background-position:center;
    padding-top: 40px !important;
    background-repeat:no-repeat;
    width:100%
  }
  i:hover{
    color:#CBC3E3
  }
  