/* nav css */
.navbar{
  background-color:white !important;
  color:black !important;
}
a:hover{
  background-color: #FFB1B0 !important;
}
/* carousel css */
.carouselslide{
  background-color: #FFDFBE;
}
.d-block {
    width: 50%;
    align-items:flex-start;
  }
  .carousel-inner{
    width:50%;
    max-height: 400px !important;
    margin:auto;
  }
  .btn{
    background-color: white
  }
.jumbotron{
  background-color: #FFFFBF;
}
