/* nav css */
.navbar{
  color:black !important;
  background: #FFDFBE !important;
}
.nav-link:hover{
  background-color: #FFB1B0 !important;
  color:black
}
.button{
  background-color: white !important;
}
.button:hover{
  background-color:#FFB1B0 !important;
}
.card button{
 background-color:white
}
/* carousel css */
#carouselExampleControls{
  background-color:#FFFFBF!important;
}
.carousel-inner{
    width:50%;
    max-height: 500px !important;
    margin:auto;
 }  
/* jumbotron */
.btn{
  background-color: white
  }
.btn:hover{
  background-color: #CBC3E3
}
.jumbotron{
  background-color:#BFF0A7
}
/* Footer */
.footer{
  background-color: #A9D1F7;
  text-align:center;
  color:white;
}
.footer-copyright{
  background-color: #CBC3E3
}
body{
  background-image:url("../Images/otherrainbow.png");
  background-repeat:no-repeat;
  background-position:bottom;
  font-family: "a abstract groovy", 'Times New Roman', Times, serif;
}